.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type="submit"] {
  display: flex;
  height: 40px;
  width: 40px;

  align-items: center;
  justify-content: center;

  background: #f04c64;
  color: #ffff;

  border: 1px solid #ccc;

}

.form button[type="submit"]:hover {
  background: #8d2534;
  color: #ffff;
}
